*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.pytxcode
*.run.xml
*.toc
.venv
_region_.tex
outputs
pythontex-files-*
tmp
__pycache__
_codebraid
/*.docx
/*.pdf
/*.tex
/*.Rnw
/*.qmd
/*.quarto_ipynb

/.quarto/
/*.md
.~lock*
uv.lock
.RData
